In [0]:
import pandas as pd

df = pd.read_excel('/content/JME_FinalOrganized.xlsx')

In [0]:
df = pd.DataFrame(df)

In [0]:
df

                                       key  ...               ExerciseTypes
0             199619--0263-jme2_1996_2.txt  ...                peacekeeping
1             199612--0327-jme2_1996_2.txt  ...  humanitarian; peacekeeping
2             199625--0455-jme2_1996_2.txt  ...  humanitarian; peacekeeping
3             199623--0471-jme2_1996_2.txt  ...   warfighting; humanitarian
4             199621--0491-jme2_1996_2.txt  ...                peacekeeping
...                                    ...  ...                         ...
1495  70c64cb2-9f5d-4a43-9939-8e9b9073628c  ...                 warfighting
1496  37307f81-76f8-46b5-8f3b-cf660677a5dd  ...                peacekeeping
1497  cbf49137-8866-4dfb-9e05-afea4a1a7a82  ...   warfighting; humanitarian
1498  8b8f55e7-d4f6-4524-b7fc-8eb6f1435d95  ...                 warfighting
1499  033a3dda-1501-47f7-9d6d-1ccad82701db  ...                 warfighting

[1500 rows x 3 columns]

In [0]:
## binary classification
df['warfighting'] = 0
df['humanitarian'] = 0
df['peacekeeping'] = 0

# warfighting vs not warfighting
#for line in df.iloc[:,2]:
#  warfighting = []
#  if 'warfighting' in line:

In [0]:
df

                                       key  ... peacekeeping
0             199619--0263-jme2_1996_2.txt  ...            0
1             199612--0327-jme2_1996_2.txt  ...            0
2             199625--0455-jme2_1996_2.txt  ...            0
3             199623--0471-jme2_1996_2.txt  ...            0
4             199621--0491-jme2_1996_2.txt  ...            0
...                                    ...  ...          ...
1495  70c64cb2-9f5d-4a43-9939-8e9b9073628c  ...            0
1496  37307f81-76f8-46b5-8f3b-cf660677a5dd  ...            0
1497  cbf49137-8866-4dfb-9e05-afea4a1a7a82  ...            0
1498  8b8f55e7-d4f6-4524-b7fc-8eb6f1435d95  ...            0
1499  033a3dda-1501-47f7-9d6d-1ccad82701db  ...            0

[1500 rows x 6 columns]

In [0]:
for i in range(0, 1500):
  if 'warfighting' in df.iloc[i,2]:
    df.iloc[i,3] = 1
  if 'humanitarian' in df.iloc[i, 2]:
    df.iloc[i,4] = 1
  if 'peacekeeping' in df.iloc[i, 2]:
    df.iloc[i,5] = 1

In [0]:
df

                                       key  ... peacekeeping
0             199619--0263-jme2_1996_2.txt  ...            1
1             199612--0327-jme2_1996_2.txt  ...            1
2             199625--0455-jme2_1996_2.txt  ...            1
3             199623--0471-jme2_1996_2.txt  ...            0
4             199621--0491-jme2_1996_2.txt  ...            1
...                                    ...  ...          ...
1495  70c64cb2-9f5d-4a43-9939-8e9b9073628c  ...            0
1496  37307f81-76f8-46b5-8f3b-cf660677a5dd  ...            1
1497  cbf49137-8866-4dfb-9e05-afea4a1a7a82  ...            0
1498  8b8f55e7-d4f6-4524-b7fc-8eb6f1435d95  ...            0
1499  033a3dda-1501-47f7-9d6d-1ccad82701db  ...            0

[1500 rows x 6 columns]

In [0]:
import sklearn
import numpy as np
import pandas as pd
import nltk
nltk.download("stopwords")
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
set(stopwords.words('english'))
print()
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
import re

REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])")
REPLACE_WITH_SPACE = re.compile("(<br\s*/><br\s*/?)|(\-)|(\/)(.)")

# extract the pagraph column (second column)
df.iloc[:,1] = [REPLACE_NO_SPACE.sub("", line.lower()) for line in df.iloc[:,1]]
df.iloc[:,1] = [REPLACE_WITH_SPACE.sub(" ", line) for line in df.iloc[:,1]]

# check if it actually removed special cases 
df.iloc[0,1] # check the first row

' ukraine and polands joint peacekeeping forces will start a two week exercise in poland next week to improve coordination the press center of the ukrainian defense department said today  the exercise codenamed tatry 96 will be held in the krakow military district in southern poland from september 23 to october 5 with 180 troops from ukraine taking part  the defense ministers of the two neighbors plan to make spot checks of the manoeuvres  the joint force set up earlier this year consists of polands 4th tank regiment and ukraines 24th iron division  under an agreement between the two countries the force can be used to carry out missions under natos partnership for peace program and participate in peacekeeping activities authorized by relevant international organizations'

In [0]:
from nltk.corpus import stopwords

stop = stopwords.words('english')

# extract the cleaned paragraph column
no_stop_words = pd.DataFrame(df.iloc[:,1])

# now remove stop words
no_stop_words['Cleaned Paragraph'] = no_stop_words['paragraph'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

# append the cleaned paragarph to the original dataframe
df['Cleaned Paragraph'] = df.iloc[:,1]

In [0]:
df

                                       key  ...                                  Cleaned Paragraph
0             199619--0263-jme2_1996_2.txt  ...   ukraine and polands joint peacekeeping forces...
1             199612--0327-jme2_1996_2.txt  ...   nato and russia are expected to hold a joint ...
2             199625--0455-jme2_1996_2.txt  ...   egypt and saudi arabia today conducted joint ...
3             199623--0471-jme2_1996_2.txt  ...   turkey and albania are expected to hold a joi...
4             199621--0491-jme2_1996_2.txt  ...   nationsfour from nato will participate in the...
...                                    ...  ...                                                ...
1495  70c64cb2-9f5d-4a43-9939-8e9b9073628c  ...   theyre the warhorses of the sky    and the ai...
1496  37307f81-76f8-46b5-8f3b-cf660677a5dd  ...   joint ukrainian romanian military exercises b...
1497  cbf49137-8866-4dfb-9e05-afea4a1a7a82  ...   military personnel from the signatories of th...
1498  8b8f55e7-d4f6-4524-b7fc-8eb6f1435d95  ...   bonn rewrites script for third world war a pr...
1499  033a3dda-1501-47f7-9d6d-1ccad82701db  ...   1   edition yankee sailors on their way for j...

[1500 rows x 7 columns]

In [0]:
# split into train and test data

################################################ warfighting ########################################
x = df.iloc[:, 6]
y_war = df.iloc[:, 3] # grab warfighting


# libray for test and train split
from sklearn.model_selection import train_test_split

# split into test and train (30:70 ratio)
x_train, x_test, y_train, y_test = train_test_split(x, y_war, test_size = 0.3, random_state = 1)

In [0]:
# vectorize paragraph
vectorizer = CountVectorizer(binary = True)

# fit using x_train
vectorizer.fit(x_train)

vector_x_train = vectorizer.transform(x_train)
vector_x_test = vectorizer.transform(x_test)

In [0]:
# apply svm on warfighting vs not warfighting
from sklearn import svm
from sklearn.metrics import accuracy_score

# fit the model using SVM
svm = svm.SVC(kernel = 'linear', probability = True)

# predict exercise types
prob = svm.fit(vector_x_train, y_train).predict_proba(vector_x_test)

y_pred_svm_war = svm.predict(vector_x_test)

print("Accuracy of SVM Warfighting is : ", accuracy_score(y_test, y_pred_svm_war))

Accuracy of SVM Warfighting is :  0.88

In [0]:
# confusion matrix for warfighting vs not warfighting
from sklearn.metrics import confusion_matrix

# confusion matrix for SVM
confusion_matrix(y_test, y_pred_svm_war) # first col = not warfighting

array([[ 28,  34],
       [ 20, 368]])

In [0]:
from sklearn.neural_network import MLPClassifier

# fit the model using MLP classifier
mlp = MLPClassifier(hidden_layer_sizes = 150)
mlp.fit(vector_x_train, y_train)

# predict exercise types
y_pred_mlp_war = mlp.predict(vector_x_test)

print("Accuracy of MLP Warfighting is : ", accuracy_score(y_test, y_pred_mlp_war))

Accuracy of MLP Warfighting is :  0.8844444444444445

In [0]:
# confusion matrix for MLP warfighting vs not warfighting

confusion_matrix(y_test, y_pred_mlp_war) # first col = not warfighting

array([[ 18,  44],
       [  8, 380]])

In [0]:
####################################### humanitarian vs not humanitarian ###################33

y_huma = df.iloc[:, 4] # grab humanitarian

# libray for test and train split
from sklearn.model_selection import train_test_split

# split into test and train (30:70 ratio)
x_train, x_test, y_train, y_test = train_test_split(x, y_huma, test_size = 0.3, random_state = 1)

# apply svm on warfighting vs not warfighting
from sklearn import svm
from sklearn.metrics import accuracy_score

# fit the model using SVM
svm = svm.SVC(kernel = 'linear', probability = True)

# predict exercise types
prob = svm.fit(vector_x_train, y_train).predict_proba(vector_x_test)

y_pred_svm_huma = svm.predict(vector_x_test)

print("Accuracy of SVM Humanitarian is : ", accuracy_score(y_test, y_pred_svm_huma))

Accuracy of SVM Humanitarian is :  0.9066666666666666

In [0]:
# confusion matrix for huma vs not huma using SVM
confusion_matrix(y_test, y_pred_svm_huma) # first col = not huma

array([[401,   3],
       [ 39,   7]])

In [0]:
# fit the model using MLP classifier
mlp = MLPClassifier(hidden_layer_sizes = 150)
mlp.fit(vector_x_train, y_train)

# predict exercise types
y_pred_mlp_huma = mlp.predict(vector_x_test)

print("Accuracy of MLP Humanitarian is : ", accuracy_score(y_test, y_pred_mlp_huma))

Accuracy of MLP Humanitarian is :  0.9022222222222223

In [0]:
# confusion matrix for huma vs not huma using MLP
confusion_matrix(y_test, y_pred_mlp_huma) # first col = not huma

array([[404,   0],
       [ 44,   2]])

In [0]:
####################################### peacekeeping vs not peacekeeping ###################33
y_peace = df.iloc[:, 5] # grab peacekeeping

# libray for test and train split
from sklearn.model_selection import train_test_split

# split into test and train (30:70 ratio)
x_train, x_test, y_train, y_test = train_test_split(x, y_peace, test_size = 0.3, random_state = 1)

# apply svm on warfighting vs not warfighting
from sklearn import svm
from sklearn.metrics import accuracy_score

# fit the model using SVM
svm = svm.SVC(kernel = 'linear', probability = True)

# predict exercise types
prob = svm.fit(vector_x_train, y_train).predict_proba(vector_x_test)

y_pred_svm_peace = svm.predict(vector_x_test)

print("Accuracy of SVM Peacekeeping is : ", accuracy_score(y_test, y_pred_svm_peace))

Accuracy of SVM Peacekeeping is :  0.9311111111111111

In [0]:
## confusion matrix for peace vs not peace using SVM
confusion_matrix(y_test, y_pred_svm_peace) # first col = not peacekeeping

array([[405,  11],
       [ 20,  14]])

In [0]:
# fit the model using MLP classifier
mlp = MLPClassifier(hidden_layer_sizes = 150)
mlp.fit(vector_x_train, y_train)

# predict exercise types
y_pred_mlp_peace = mlp.predict(vector_x_test)

print("Accuracy of MLP Peacekeeping is : ", accuracy_score(y_test, y_pred_mlp_peace))

Accuracy of MLP Peacekeeping is :  0.9355555555555556

In [0]:
## confusion matrix for peace vs not peace using MLP
confusion_matrix(y_test, y_pred_mlp_peace) # first col = not peacekeeping

array([[413,   3],
       [ 26,   8]])

In [0]:
# replace NaN values with "NULL"
df.iloc[:,0].fillna("NULL", inplace = True) 
df.iloc[:,1].fillna("NULL", inplace = True)
df.iloc[:,2].fillna("NULL", inplace = True) 
df.iloc[:,3].fillna("NULL", inplace = True)
df.iloc[:,4].fillna("NULL", inplace = True) 
df.iloc[:,5].fillna("NULL", inplace = True)

In [0]:
df.iloc[1677,3] = "NULL"
df.iloc[1588,3] = "NULL"

In [0]:
df.iloc[1588,:]

key                                    20010829--0484-jme2_2001_3.txt
paragraph            MOSCOW. Aug 29 (Interfax) Armenian, Belarussi...
ExerciseType                                                     NULL
Key(s)/Source(s)                                                 NULL
ExerciseType.1                                                   NULL
Unnamed: 5                                                       NULL
Name: 1588, dtype: object

In [0]:
# map Key(s)/Source(s) with ExcerciseType.1 and compare it with the key column, then append the exercise type in column 5
for i in range(0, 1800):
  for j in range(0, 12927):
    # look for the substring
    if df.iloc[j, 0] in df.iloc[i, 3]:
      df.iloc[j, 5] = df.iloc[i, 4]

In [0]:
df

                                        key  ...    Unnamed: 5
0              199622--0239-jme2_1996_2.txt  ...          NULL
1              199620--0251-jme2_1996_2.txt  ...          NULL
2              199619--0252-jme2_1996_2.txt  ...          NULL
3              199619--0263-jme2_1996_2.txt  ...  peacekeeping
4              199618--0272-jme2_1996_2.txt  ...          NULL
...                                     ...  ...           ...
12925  033a3dda-1501-47f7-9d6d-1ccad82701db  ...   warfighting
12926  46aa755a-d797-49ef-aa61-e822c5b42399  ...          NULL
12927                                  NULL  ...          NULL
12928                                  NULL  ...          NULL
12929                                  NULL  ...          NULL

[12930 rows x 6 columns]

In [0]:
df.to_excel('JME Final.xlsx',index=False)